<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{ page.title }}</title>
	<meta name="author" content="{{ site.author.name }}">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='/assets/custom.css' rel="stylesheet" media="all">
	<link href='{{ ASSET_PATH }}/css/style.css' rel="stylesheet" media="all">
</head>
<body>

	<div class="brand">Code of Thrones</div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Code of Thrones</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/archive.html">Blog</a></li>
                    <li><a href="/projects.html">Projects</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    {{ content }}

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center column">
                	<ul class="list-inline">
                        <li><a href="http://github.com/ummterry" rel="me" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a></li>
                        <li><a href="http://linkedin.com/in/tonghui" rel="me" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a></li>
                        <li><a href="http://weibo.com/sosterry" rel="me" class="btn-social btn-outline"><i class="fa fa-fw fa-weibo"></i></a></li>
                		<li><a href="http://google.com/+TonghuiLi" rel="me" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a></li>
                        <li><a href="http://twitter.com/ummterry" rel="me" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a></li></li>
                        <li><a href="/rss.xml" class="btn-social btn-outline"><i class="fa fa-fw fa-rss"></i></a></li></li>
                    </ul>
                </div>
                <div class="col-lg-6 text-center column">
					<p class="licence">Powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a></p>
					<a href="http://creativecommons.org/licenses/by-nc/3.0/"><img id="licensebutton_slim" alt="Creative Commons License" src="https://i.creativecommons.org/l/by-nc/3.0/80x15.png"></a>
                </div>
            </div>
        </div>
    </footer>


<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

<script>
/*! A fix for the iOS orientationchange zoom bug.Script by @scottjehl, rebound by @wilto. MIT License.*/
(function(j){var i=j.document;if(!i.querySelectorAll){return}var l=i.querySelectorAll("meta[name=viewport]")[0],a=l&&l.getAttribute("content"),h=a+", maximum-scale=1.0",d=a+", maximum-scale=10.0",g=true,c=j.orientation,k=0;if(!l){return}function f(){l.setAttribute("content",d);g=true}function b(){l.setAttribute("content",h);g=false}function e(m){c=Math.abs(j.orientation);k=Math.abs(m.gamma);if(k>8&&c===0){if(g){b()}}else{if(!g){f()}}}j.addEventListener("orientationchange",f,false);j.addEventListener("deviceorientation",e,false)})(this);
</script>
  
  {% include JB/analytics %}
</body>
</html>
